# User specific config file
# additonal config can be placed at ~/.config/git/config file for additonal configuration

[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"] 
	helper = !/usr/bin/gh auth git-credential

[user]
	name = yovelb
  email = 25065136+YovelB@users.noreply.github.com

[alias]
    st = status
    co = checkout
    ci = commit
    br = branch
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[pull]
    rebase = false

[push]
    default = simple

[init]
    defaultBranch = main
