[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"] 
	helper = !/usr/bin/gh auth git-credential

[user]
	name = yovelb
  email = 25065136+YovelB@users.noreply.github.com

[alias]
  co = checkout
  br = branch
  ci = commit
